extends  ./layout/index

block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block  contenido 
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ipsum necessitatibus rerum inventore dolorum, possimus labore nobis eum fugiat incidunt eveniet voluptates aliquid atque officia beatae minus distinctio eos ratione.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, officia ea molestias expedita inventore beatae eveniet quidem esse voluptas quasi, quo voluptatibus temporibus architecto. Quibusdam ea officia laudantium beatae expedita?
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt=" imagen nosotros" class="img-fluid")
        
        include ./layout/bloque_viajes

    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2025 - 28 de Marzo de 2025 
                        p.precio $2,500 USD
    
    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales