extends  ./layout/index

block  contenido 
    main.container.mt-5 
        .row 
            .col-md-5
                img.img-fluid(src="/img/nosotros.jpg", alt="Nosotros", class="img-fluid") 
            .col-md-7 
                h1 #{pagina}  
                blockquote Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse hic dicta delectus alias tempore veniam consequuntur harum fugiat, eius accusantium nostrum atque, quidem tempora ipsam asperiores in repellat facere earum.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae exercitationem ipsam aliquid delectus aperiam tempora doloremque nobis ab totam autem magni earum debitis aspernatur, corrupti libero minima neque quis deleniti.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit possimus officiis modi fugiat aliquam perspiciatis animi laboriosam. Blanditiis voluptatibus delectus doloremque corrupti cum exercitationem sint, facere praesentium! Error, velit praesentium.

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto voluptate cum, autem sapiente distinctio optio laudantium dolorem maiores, adipisci voluptates assumenda eaque iste in suscipit rerum aspernatur consequatur quos error.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto voluptate cum, autem sapiente distinctio optio laudantium dolorem maiores, adipisci voluptates assumenda eaque iste in suscipit rerum aspernatur consequatur quos error.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto voluptate cum, autem sapiente distinctio optio laudantium dolorem maiores, adipisci voluptates assumenda eaque iste in suscipit rerum aspernatur consequatur quos error.